import React from 'react';
import IceContainer from '@icedesign/container';
import IcePanel from '@icedesign/panel';
import { Grid, Message } from '@alifd/next';
import request from '../../../utils/request';
import BasicInfoFn from './BaseInfoConfig';

const { Row, Col } = Grid;

class <%=cName%> extends React.Component {
  constructor(props) {
    super(props);
    this.state = {
      dataSource: {},
    };
  }

  componentDidMount() {
    const {
      partyNo,
    } = this.props;
    this.getUserInfo(partyNo);
  }

  // 设置客服在线状态
  getUserInfo = (partyNo) => {
    request({
      url: '/customer/get-basic-info',
      method: 'POST',
      data: {
        userId: partyNo,
      },
    }).then((res) => {
      if (res && res.res_code === '0') {
        this.setState({
          dataSource: res.data,
        });
      }
    }).catch((err) => {
      Message.error(err.res_msg);
    });
  }

  render() {
    return (
      <IceContainer>
        {
          BasicInfoFn(this.state.dataSource).map((group, id) => {
            const { header, model, body = [] } = group || {};
            return (
            // eslint-disable-next-line react/no-array-index-key
              <IcePanel key={model} style={{ marginBottom: '20px' }}>
                <IcePanel.Header>
                  {header}
                </IcePanel.Header>
                <IcePanel.Body>
                  <Row wrap>
                    {
                        // eslint-disable-next-line no-unused-vars
                        body.map((item, index) => (
                          <Col key={item.key} s={24} m={12} l={8} style={{ padding: '10px 0' }}>
                            {item.label}
                              :
                            <span className="value_field">{item.value}</span>
                          </Col>
                        ))
                      }
                  </Row>
                </IcePanel.Body>
              </IcePanel>
            );
          })
        }
      </IceContainer>
    );
  }
}


export default <%=cName%>;
